:root {
  color: white;
}

body, .root {
  min-height: 100vh;
}

.header-mg-bottom {
  margin-bottom: 78px;
}

.my-background {
  background: url("./images/background.jpg") no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
}

.my-btn {
  border-color: #bd6cc0;
  background-color: #bd6cc0;
  color: #fff;
}

.welcome-title {
  color: white;
  font-size: 4rem;
  text-shadow: 1px 1px 5px black, 0 0 1em rgb(124, 3, 108);
}

.welcome-error {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(224, 5, 5);
}

.set-img {
  height: 30rem;
  width: 30rem;
}

.donut-img {
  min-height: 20rem;
  width: 100%;
}

.card-donuts-set {
  width: 30rem;
  margin-right: 1em;
  margin-bottom: 1em;
}

.card-donut {
  width: 25rem;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1px solid var(--bs-gray-dark);
}

.set-title {
  font-size: 2rem;
}

.set-text {
  font-size: 1.5rem;
}

.my-avatar {
  width: 3rem;
  height: min-content;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 700px) {
  .header-mg-bottom {
    margin-bottom: 56px;
  }
  .donut-img {
    min-height: 13rem;
    width: 100%;
  }
  .card-donut {
    max-width: 15rem;
    margin-right: 1em;
    margin-bottom: 1em;
    border: 1px solid var(--bs-gray-dark);
  }
}