{% extends "set_add.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %} Изменение параметров сета пончиков {% endblock title %}

{% block form %}
  <form class="row" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form show_label=False %}
    <div class="d-flex justify-content-end mt-2">
      <button class="btn btn-dark" type="submit">
        Изменить
      </button>
    </div>
  </form>
{% endblock form %}