:root {
  color: white;
}

.set-img {
  height: 30rem;
  width: 30rem;
}

.donut-img {
  height: 25rem;
  width: 24rem;
}

.card-donuts-set {
  width: 30rem;
  margin-right: 1em;
  margin-bottom: 1em;
}

.card-donut {
  width: 25rem;
  margin-right: 1em;
  margin-bottom: 1em;
}

.set-title {
  font-size: 2rem;
}

.set-text {
  font-size: 1.5rem;
}

.my-avatar {
  width: 3rem;
  height: min-content;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}